[SddmGreeterTheme]
Name=Slacker
Name[ar]=نالمتهرب 
Name[ast]=Slacker
Name[az]=Slacker
Name[bs]=Slacker
Name[ca]=Slacker
Name[ca@valencia]=Slacker
Name[cs]=Slacker
Name[da]=Slacker
Name[de]=Slacker
Name[el]=Slacker
Name[en_GB]=Slacker
Name[es]=Slacker
Name[et]=Slacker
Name[eu]=Slacker
Name[fi]=Slacker
Name[fr]=Slacker
Name[gl]=Slacker
Name[hi]=आलसी 
Name[hu]=Slacker
Name[ia]=Slacker
Name[id]=Slacker
Name[is]=Slacker
Name[it]=Fannullone
Name[ja]=Slacker
Name[ko]=Slacker
Name[lt]=Slacker
Name[ml]=സ്ലാക്കർ
Name[nb]=Slacker
Name[nds]=Slacker
Name[nl]=Slacker
Name[nn]=Slacker
Name[pa]=سلیکر
Name[pl]=Próżniak 
Name[pt]=Slacker
Name[pt_BR]=Slacker
Name[ro]=Chiulangiu 
Name[ru]=Slacker
Name[sk]=Flákač
Name[sl]=Sapica
Name[sr]=Лењивац
Name[sr@ijekavian]=Лењивац
Name[sr@ijekavianlatin]=Lenar
Name[sr@latin]=Lenar
Name[sv]=Slacker
Name[tg]=Лењивац
Name[tr]=Slacker
Name[uk]=Slacker
Name[vi]=Slacker
Name[x-test]=xxSlackerxx
Name[zh_CN]=懶鬼
Name[zh_TW]=懒鬼
Description=Slacker
Description[ast]=Slacker
Description[az]=Slacker
Description[ca]=Slacker
Description[ca@valencia]=Slacker
Description[cs]=Slacker
Description[da]=Slacker
Description[de]=Slacker
Description[en_GB]=Slacker
Description[es]=Slacker
Description[et]=Slacker
Description[eu]=Slacker
Description[fi]=Slacker
Description[fr]=Slacker
Description[gl]=Slacker
Description[hi]=आलसी
Description[hu]=Slacker
Description[ia]=Slacker
Description[id]=Slacker
Description[it]=Fannullone
Description[ko]=Slacker
Description[lt]=Slacker
Description[ml]=ബ്രീസ്
Description[nl]=Slacker
Description[nn]=Slacker
Description[pa]=سلیکر
Description[pl]=Próżniak
Description[pt]=Slacker
Description[pt_BR]=Slacker
Description[ro]=Chiulangiu
Description[ru]=Slacker
Description[sk]=Flákač
Description[sl]=Sapica
Description[sv]=Slacker
Description[tg]=Насим
Description[tr]=Esinti
Description[uk]=Slacker
Description[vi]=Slacker
Description[x-test]=xxSlackerxx
Description[zh_CN]=懶鬼
Description[zh_TW]=Slacker
Author=KDE Visual Design Group
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=plasma-devel@kde.org
Theme-Id=Slacker
Theme-API=2.0
